*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e555c;
  height: 100vh;
  width: 100vw;
}


.clock{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  color: white;
  border: 2px solid red;

  width: 50vw;
  height: 50vh;
  flex-wrap: wrap;
  font-size: 2rem;

}

.time-setter{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 20vw;
 
}
.time-setter-buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.time-setter-buttons>button{
  width: 25px;
  height: 25px;
  background-color: #1e555c;
  color: white;
  border-radius: 2px;
  font-size: 1.5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  cursor: pointer;
}

#time-left{
  text-align: center;
  font-size: 3rem !important;
}

.play-reset-buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.play-reset-buttons>button{
  width: 100px;
  height: 50px;
  font-size: 1.5rem;
  color: white;
  border: 2px solid white;
  background-color: #1e555c;
  border-radius: 2px;
  cursor: pointer;
}

@media (max-width:1000px){
  .clock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .time-setter{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  .title{
    text-align: center;
    width: 100%;
  }
}